.Container {
  display: flex;
  justify-content: center;
  text-align: center;
}

.create{
  cursor: pointer;
  box-shadow: white;
  background: #fccc0a;
  border: 2px solid black;
  width: 70%;
  height: 7%;
  font-size: 0.75rem;
  padding: 0.5rem;
  margin-left: 1rem;
  margin-right: 2rem;
  border-radius: 20px;
  outline: none;
  color: #192b59;
  font-family: "Montserrat", sans-serif;
}

.formContainer {
  width: 30%;
  height: 50%;
  margin: 2rem;
  justify-content: center;
  background-color: #192b59;
  border: 5px solid black;
}

.formContainerDiv {
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.formDiv {
  margin: 1.1rem;
  text-align: left;
  color: #fccc0a;
}

.formHeader {
  width: 100%;
  height: 100%;
  text-align: center;
  color: #192b59;
  background-color: #fccc0a;
}

.selects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1px 1px 1px 1px;
  font-family: "Montserrat", sans-serif;
}

.selects select option {
  background: #fccc0a;
  color: #192b59;
  font-family: "Montserrat", sans-serif;
}

.selectOrder {
  cursor: pointer;
  box-shadow: white;
  background: #fccc0a;
  border: 2px solid black;
  width: 10%;
  height: 4%;
  font-size: 0.75rem;
  padding: 0.5rem;
  margin: 0.8rem;
  margin-left: 1rem;
  margin-right: 2rem;
  border-radius: 20px;
  outline: none;
  color: #192b59;
  font-family: "Montserrat", sans-serif;
}

.selectOrder option {
  background-color: white;
  font-family: "Montserrat", sans-serif;
}

.selects select:hover {
  box-shadow: 0 2px 8px -1px white;
}

#3c5c9c