/* .show {
  display: block;
}
.hide {
  display: none;
}

.pagina {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.returnbtn {
  display: flex;
}

.retbtn {
  cursor: pointer;
  outline: none;
  text-decoration: none;
  background-color: #1f9260;
  border: 2px solid rgb(255, 255, 255);
  color: #fdf972;
  border-radius: 20px;
  font-family: "Montserrat", sans-serif;
  padding: 16px 32px;

  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.5px;
  line-height: 1;
  margin-top: 1rem;
  box-shadow: 0 2px 8px -1px #ffffff;

  opacity: 100;
  animation: showText 1s 1s linear forwards;
  transition: all 0.5s ease;
}
.retbtn:hover {
  box-shadow: 0 0px 0px 0 rgba(0, 40, 120, 0);
  transform: translateY(-5px);
  color: white;
  background-color: rgb(0, 0, 0);
  border: 1px solid white;
}

.img {
  margin-top: 20px;
}

.back {
  position: fixed;
  left: 8%;
  top: 4%;
}

.container {
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: 0 2px 5% rgba(0, 0, 0, 0.3);
  width: 50rem;

  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;

  padding-bottom: 4%;
  position: relative;
  margin-bottom: 0.5%;
  margin-top: 0.5%;
  margin-right: 5%;
}

.header {
  background-color: #166744;
  padding: 20px 40px;
  border-bottom: 1px solid #f0f0f0;
}

.header h2 {
  margin: 0;
  color: white;
}

.formdiv {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.formdiv label {
  display: flex;
  margin-left: 5%;
  margin-bottom: 5px;
}

.formdiv input {
  border: 2px solid rgb(76, 151, 32);
  border-radius: 4px;
  display: block;
  width: 90%;
  padding: 10px;
  font-size: 14px;
  font-family: inherit;
  margin-left: 2vw;
  background-color: rgb(230, 227, 227);
}

.formdiv i {
  position: absolute;
  top: 45px;
  left: 92%;
}

.formdiv p {
  position: absolute;
  top: 80%;
  left: 5%;
  font-size: 14px;
  color: #e74c3c;
}

.container button {
  display: flex;
  background-color: black;
  border: 2px solid white;
  border-radius: 20px;
  color: white;
  display: block;
  font-family: inherit;
  font-size: 18px;
  padding: 15px;
  width: 30%;
  cursor: pointer;
  margin-top: 4%;
  margin-left: 35%;
}

.conteiner button:hover {
  box-shadow: 0 0px 0px 0 rgba(0, 40, 120, 0);
  transform: translateY(-5px);
}

.container .next {
  background-color: black;
  border: 2px solid white;
  color: white;
  width: 30%;
  margin-top: 5%;
  margin-left: 35%;
  transition: all 0.4s ease;
}

.container .next:hover {
  background-color: white;
  border: 2px solid black;
  color: black;
}

.container .previous {
  background-color: rgb(223, 30, 30);
  border: 2px solid black;
  color: #000;
  width: 30%;
  margin-top: -5%;
  margin-left: 5%;
  transition: all 0.4s ease;
}

.container .previous:hover {
  background-color: black;
  border: 2px solid white;
  color: white;
}

.container .create {
  background-color: rgb(51, 154, 57);
  border: 2px solid black;
  color: black;
  width: 30%;
  margin-top: -5%;
  margin-right: 5%;
  transition: all 0.4s ease;
}
.container .create:hover {
  background-color: black;
  border: 2px solid white;
  color: white;
}

.choosetypes {
  margin-top: 2%;
  margin-left: 4%;
  font-size: 20px;
  font-weight: 500;
}

.typeserror {
  position: absolute;
  font-size: 15px;
  display: flex;
  bottom: -8%;
  left: 4%;
  color: #e74c3c;
}

.containertypes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: flex-start;
  margin-left: 4%;
  margin-bottom: 12%;
  margin-top: 4%;
}

.containertypes label {
  cursor: pointer;
  margin-bottom: 4%;
}

.containertypes label input[type="checkbox"] {
  display: none;
}

.containertypes label:hover .circle {
  filter: grayscale(0%) opacity(100%);
}

.containertypes label input[type="checkbox"]:checked ~ .circle {
  filter: grayscale(0%) opacity(95%);
}

.bytype {
  display: flex;
  align-items: center;
}

.circle {
  filter: grayscale(90%) opacity(40%);
  height: 35px;
  width: 35px;
  border-radius: 35%;
}

/* Arrows from input number*/
/* Chrome, Safari, Edge, Opera */
/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */ /*
input[type="number"] {
  -moz-appearance: textfield;
}

@media (max-width: 867px) {
  .pagina {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: center;
  }
} */
