.pokeBox {
  text-align: center;
  font-size: 0.75rem;
  border-radius: 10px;
  position: relative;
  background-color: #192b59;
  border: 2px solid #000;
  height: 100%;
}

.pokeBox:hover {
  background-color: #fccc0a;
box-shadow: 0 2px 8px -1px white;
}

.pokeImg {
  border-radius: 10px;
  max-width: 300px;
  max-height: 300px;
}

.linkDetail {
  text-decoration: none;
  color: #fff;
  font-size: 0.85rem;
}

.linkDetail:hover {
  color: #000;
}
