.container {
  height: 100vh;
  width: 100vw;
  background-image: url("../../assets/pokemon4.jpg");
  background-color: blue;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.logo {
  margin-top: 5%;
}

.link:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
