.buttonNav {
  cursor: pointer;
  outline: none;
  text-decoration: none;
  border: 2px solid black;
  width: 100%;
  height: 60%;
  border-radius: 1rem;
  color: #192b59;
  background: #fccc0a;
  font-family: "Montserrat", sans-serif;
  transition: all 0.5s ease;
  padding: 0.5rem;
  margin: 0.6rem auto;
}

.buttonNav:hover {
  box-shadow: 0 0px 0px 0 white;
  transform: translateY(-3px);
  color: #3c5c9c;
  background-color: #fccc0a;
  border: 1px solid white;
  box-shadow: 0 2px 8px -1px #fdf972;
  font-family: "Montserrat", sans-serif;
}

.wrap {
  background-color: #192b59;
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-around;
}
